<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Offline app: no internet or broad media/storage permission. -->
    <application android:label="光影视界" android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme" android:allowBackup="false" android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false" android:enableOnBackInvokedCallback="true">
        <activity android:name=".MainActivity" android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name=".ShareImageProvider" android:authorities="com.hhs.photography.offline.share"
            android:exported="false" android:grantUriPermissions="true" />
    </application>
</manifest>
